[submodule "estudianteBackend"]
	path = backend
	url = git@github.com:dvaldaliso/estudianteBackend.git
[submodule "estuduanteFrontend"]
	path = frontend
	url = git@github.com:dvaldaliso/estuduanteFrontend.git
